body{
    background-image: url(../asset/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
    margin: 0 20%;
    overflow: hidden;
}
.logo-container {
    text-align: left;
    padding: 2rem 0 0;
}

.logo-container img{
    width: 200px;
    margin-bottom: 20px;
}
.titolo h1{
    color: white;
    font-size: 60px;
    line-height: 0.8;
    font-family: 'Outfit', sans-serif;
}
.titolo span{
    color: white;
    font-size: 60px;
    font-weight: lighter;
    font-family: 'Outfit', sans-serif;
}
#desc-container h2{
    color: #d20094;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 7px;
}
#desc-container h3{
    display: block;
    color: white;
    margin-top: 0px;
    font-weight: lighter;
    font-family: 'inter', sans-serif;
    margin-bottom: 40px;
}
#list-container {
    display: inline-block;
    text-align: left;
}
#list-container ul {
    margin: 0;
    padding: 0 1rem;
}
#list-container li{
    color: white;
    margin-top: 5px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'inter', sans-serif;
    margin: 7px;
}
.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.custom-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.custom-checkbox .checkmark {
    width: 17px;
    height: 17px;
    border: 2px solid white;
    background-color: transparent;
    display: inline-block;
    margin-right: 8px;
}
.custom-checkbox p {
    color: white;
    font-size: 14px;
    font-family: 'inter', sans-serif;
    font-weight: bold;
}

.checkmark {
    display: inline-block;
}

.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    background-color: transparent;
    position: relative;
    margin-right: 15px;
}
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px; 
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.custom-checkbox p {
    display: inline-block;
    color: white;
    font-size: 14px;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    margin: 0 14rem 0 0;
}
.checkbox-container {
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
    margin: 4.5rem auto 2rem;
}
button {
    margin: 0rem 2rem 0rem;    
    background-color: #00ffff;
    color: black; 
    border: none;
    padding: 20px 60px;
    text-decoration: none;
    font-size: 20px; 
    font-weight: bold;
    cursor: pointer;
    border-radius: 0; 
    transition: background-color 0.3s ease;
}