@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  background-attachment: fixed;
  margin: 0;
  display: table;
  width: 100vw;
  height: 100vh;
}
#logo {
  position: absolute;
  top: 60px;
  left: 80px;
  z-index: 10;
 
}

h1 {
  margin-bottom: 3%;
  font-size: 60px;
  color: white;
  font-family: "Outfit", sans-serif;
}
button {
  font-family: "Inter", sans-serif;
  display: inline-block;
  width: 40%;
  margin: 15px 20px;
  padding: 20px;
  border: 20px 20px 5px 20px;
  border-color: white;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white; /*colore font*/
  cursor: pointer;
  background-color: rgba(253, 252, 252, 0.1);
}

button:hover {
  background: #d20094;
  background: linear-gradient(0deg, #900080, #d20094);
}

#questionsContainer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h2 {
  margin-top: 10%;
  text-align: center;
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

span {
  color: #d20094;
}
