* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./assets/bg.jpg");
    color: white;
}

header {
    width: 10rem;
}

.logo-v {
    width: 8rem;
    margin: 2rem 4rem;
}

main {
    text-align: center;
}

h1 {
    margin: 1rem;
}

.p1-v {
    width: 48ch;
    margin: 0 auto;
}

.star-v {
    margin: 1rem 0.1rem;
    background: transparent;
}