@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}
.hidden{
  display:none;
}

/* body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.logoC {
  text-align: left;
  width: 10%;
  margin-left: 5%;
  margin-top: 3%;
} */
.heroC {
  text-align: center;
  color: white;
  margin-top: 20%;
}
.h1HeroC {
  font-family: "Outfit";
  font-size: 60px;
  font-weight:bold;
}

.pHeroC {
  font-family: "Inter";
  font-size: 16px;
 
}

.graphicresults{
  margin:auto;
  text-align:center;
}
.resultLeftC{
  display:inline-block;
  font-family: "Outfit";
  font-size: 60px;
  color: white;
  vertical-align: top;

}
.resultLeftC h2{
  font-family: "Outfit";
  font-size: 60px;
  color: white;
  text-align:center;
}
#percCorretteC{
  font-family: "Outfit";
  font-size: 60px;
  color: white;
  text-align:center;
  font-weight: bold;
}
#pQuestionsCorrectC{
  font-family: "Outfit";
  font-size: 1.2rem;
  color: white;
  text-align:center;
  padding-top: 1%;
 
}
.wrapperC{
    position: relative;
    display: inline-block;
}
.graphicC{
  width: 280px;
  height: 280px;
  border-radius: 50%;
  position: relative;
  
  vertical-align: top;
  background-image: conic-gradient(#d20094 0% 34%, #00ffff 0% 66%);
  mask: radial-gradient(farthest-side, transparent 67%, black 67%); /*permette di rendere trasparente il centro del div, cosicché si vede il contenuto*/
  z-index: 1;  
}
.contentGraphicC{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px; /* Adjusted to fit within the circle */
  height: 240px; /* Adjusted to fit within the circle */
  text-align: center; 
  background-color:transparent; 
  border-radius: 50%; /* Arrotonda per adattarsi al cerchio */
  padding: 40px 20px;
  box-sizing: border-box; /* Include il padding nelle dimensioni totali */
  z-index: 2;
  
  
}
/*classe del titolo e del sottotitolo del grafico*/
.pTitSubGraphicC{ 
  font-size: 13px;
  font-weight:bold;
  font-family: "Inter";
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Aggiunta un'ombra al testo per migliorarne la leggibilità */
}
#pTitleC{
  color:white; 
  margin-top:25%;  
  margin:2% 0;
}
#pSubtitleC{
color: #00FFFF;
margin:2% 0;
}
.pContentGraphicC{
  font-size: 10px;
  font-family: "Inter";
  color:rgb(224, 224, 224);
  text-align:center;
  margin:2% 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#certificateC{  
  margin-top:9%;   
}
#emailCertificateC{  
  padding-top:1.5%;   
}
#percWrongC{
  font-family: "Outfit";
  font-size: 60px;
  color: white;
  text-align:center;
  font-weight: bold;
}
#pQuestionsWrongC{
  font-family: "Outfit";
  font-size: 1.2rem;
  color: white;
  text-align:center;
  padding-top: 1%;
 
}


.resultRightC{
  display: inline-block;
  vertical-align: top;
 }
.resultRightC h2{
  font-family: "Outfit";
  font-size: 60px;
  color: white;
}

.divButtonC{
  text-align: center;
  margin-block:2.5rem
}

#buttonC {
  font-family: "Inter";
  font-size: 16px;
  background-color: #47196C;
  color: white;
  border: 1.5px solid white;
  padding-inline: 2.5%;
  padding-block: 1%;
}
